.Header {
    background-color: #252525;
    padding: 10px;
    color: #fff;
}

.holder {
    display: flex;
    margin: 0px;
    min-height: calc(100vh - 80px);
}

.main__form {
    flex: 1;
    padding: 1em;
}

.main__summary {
    flex: 1;
    padding: 1em;
}
